@import "normalize";
@import "compass";
@import "susy";
@import "grids";
@import "_partials/index";
@import "_partials/_ye-olde-ie";
@import "dashboard/index";


@import "_vendor/_custom-bootstrap.scss";

.btn {
	@include border-radius(2px);
	font-size: 1rem;
	width: 8rem;
	text-align: left;
	span{
		text-align: right;
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: .5rem;
		margin: auto;
		font-size: 1rem;
	}
}