<span class="module" module id="latest-event">
    <header class="module-header">
       <h2 class="module-title">Latest Event <em>08/17/14</em></h2>
       <span class="module-expand-button trigger fa fa-expand"></span>
  </header>
   <div class="module-body">
      <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>-->    
      <div class="module-grapharea">
        <div class="graph-wrap">
             <img src="assets/img/tmp_images/analytics_latest.png">            
        </div>
    </div>
    </div>
</span>
<span class="module" module id="previous-events">
    <header class="module-header">
        <h2 class="module-title">Previous Events</h2>
        <span class="module-expand-button trigger fa fa-expand"></span>
    </header>
    <div class="module-body">
    <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>
     -->    <div class="module-grapharea">
            <div class="graph-wrap">
                <img src="assets/img/tmp_images/analytics_previous.png">   
            </div>
        </div>
    </div>
</span>
