  <div id="enrollment">
    <div class="header">
      <h1>Enrollment / Program Management</h1>
    </div>    
    <div class="global-filter">
    <div class="calendar">
      <span class="fa fa-file show-hide-btn export-data" title="Export data as CSV" trigger trigger-target="export-data-modal" id="export-data-btn"></span>
      <span class="show-hide-btn trigger fa fa-cog hide-large" trigger trigger-target="main-utils" trigger-closed-class="fa-cog" trigger-open-class="fa-cog" title="Settings"></span>
      <span>
      <div date-range-input id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span></span> <b class="caret"></b>
      </div>
    </div>
      <div class="main-utils drawer closed" id="main-utils">
        <div class="main-utils-options-wrap">
          <select class="main-utils-options" ng-model="params.viewtype" ng-options="view for view in enrollment.ViewTypes">
          </select>
          <select class="main-utils-options" ng-model="params.product" ng-options="product for product in enrollment.Products">
          </select>
        </div>
        <label ng-show="enrollment.CommunicationTypes.length > 1"  class="main-utils-gateways" ng-repeat= "commType in enrollment.CommunicationTypes">
          <input type="checkbox" name="selectedComms[]" value="{{commType}}" ng-checked="isSelected(commType)" ng-click="updateSelection($event, commType)">{{commType | capitalize }}
        </label>
        <!-- <ul ng-show="enrollment.CommunicationTypes.length > 1"  class="main-utils-gateways">
            <li ng-repeat="commType in enrollment.CommunicationTypes" ng-class="{ active: (params.communication).indexOf(enrollment.CommunicationTypeSlugs[$index]) > -1 }" communication-type communication-type-name={{enrollment.CommunicationTypeSlugs[$index]}}>
                <span class="gateway">{{ commType | capitalize }}</span>
            </li>
        </ul> -->
    </div>
<!--     <div id="date-options" class="date-options-drawer drawer closed">
      <div class="date-options-section" id="date-range-wrap">
        <div id="date-range-content" data-min-date="" date-max-date="" class="daterangepicker dropdown-menu">
          <div class="ranges">
            <div class="range_inputs">
              <div class="daterangepicker_start_input">
                <label for="daterangepicker_start"></label>
                <input date-range-input ng-model="dateStart" class="input-mini" type="text" name="daterangepicker_start" id="start-date-input" />
                <div class="date-range-error" id="date-start-error">
                  <span class="fa fa-exclamation"></span><span class="error-text"><strong>Error:</strong> start date must be 1/1/2013 or later.</span>
                </div>
              </div>
              <div class="daterangepicker_end_input">
                <label for="daterangepicker_end"></label>
                <input date-range-input ng-model="dateEnd" class="input-mini" type="text" name="daterangepicker_end" value="" id="end-date-input">
                <div class="date-range-error" id="date-end-error">
                  <span class="fa fa-exclamation"></span><span class="error-text"><strong>Error:</strong> end date must be yesterday or earlier.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="calendar right"></div>
          <div class="calendar left"></div>
          <div class="ranges">
            <button date-span class="applyBtn" id="pick-date"></button>
            <button class="cancelBtn"></button>
          </div>
        </div>
        <input type="daterange" ng-model="dateRange" id="date-range-input" format="l" />
      </div> -->
    </div>
    <!-- <div ng-include src="'views/dash/export.html'"></div> -->
  </div>
  <div class="dash-content">
    <ul class="modules">
        <!-- <li ng-repeat="module in enrollment.ModuleTypes" ng-include src=" ' views/enrollment/module.html ' " class="module" module id="{{ module }}">
        </li> -->
       <!--  <li ng-repeat="module in enrollment.ModuleTypes" ng-include src=" ' views/enrollment/{module}.html ' " ng-controller="SignupCtrl" class="module" module id="{{ module }}">
        </li> -->
        <!-- <li ng-include src=" ' views/enrollment/signup.html ' " ng-controller="SignupCtrl" class="module" module id="signup"></li>
        <li ng-include src=" ' views/enrollment/distributed.html ' " ng-controller="DistributedCtrl" class="module" module id="distributed"></li>
        <li ng-include src=" ' views/enrollment/setup.html ' " ng-controller="SetupCtrl" class="module" module id="setup"></li>
        <li ng-include src=" ' views/enrollment/online.html ' " ng-controller="OnlineCtrl" class="module" module id="online"></li> -->
        <li  ui-view="signups" class="module" module id="signup"></li>
    </ul>
  </div>
</div>
