#campaigns {
  .module {
    &#current-campaign {}
    @include break-min($module-break) {
      @include span(5 of 8 first);
      margin-right: -100%;
      .module-body {
        padding: 1rem;
        padding-bottom: 6.6em;
        .module-grapharea {
          padding: 2.2em 0px;
        }
      }
    }

    &#other-campaigns {
      @include break-min($module-break) {
        @include span(3 of 8 last);
        .module-header {
          background-color: $dark-grey-3;
          color: $white;
          .module-title {
            width: 80%;
          }
        }
      }
    }
    .module-body {
      padding: 0rem 1rem;
      .module-controls {
        height: 6rem;
        padding-left: 1em;
        img {
          width: 100%;
        }
      }
      .module-grapharea {
        background-color: $white;
        height: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
