  <div class="panel-heading">
    <h3 class="panel-title">Setup</h3>
    <h3 class="panel-heading-stat"></h3>
    <div class="btn-group">
      <label class="btn btn-switch" ng-model="radiobutton" ng-repeat="viewform in enrollment.ViewForms" btn-radio="'{{ viewform }}'" ng-click="setViewForm(viewform)">{{ viewform }}</label>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-controls">
      <h2 class="panel-body-stat">{{ count.total }}</h2>
      <div ng-show="params.product === 'AC' " class="panel-view-options">
          <div class="panel-view-options-checkboxes">
              <div class="panel-view-options-checkbox">
                  <label ng-repeat="device in devices">
                      <input type="checkbox" class="checkbox-option" ng-checked="isDeviceSelected(device)" ng-click="updateDeviceSelection($event, device)"    id="{{device}}" chart-number="">{{device}}
                  </label>
              </div>
          </div>
      </div>
    </div>
    <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>
    <div class="panel-grapharea">
      <div class="graph-wrap" ng-hide="displayData()" ng-switch on="radiobutton" style="width:100%; height: 100%">
        <canvas id="graph-setup" setup-graph graph-content="{{module}}" graph-num="{{$index + 1}}" ng-switch-when="Graph"></canvas>   
        <div id="map-canvas" map map-content="{{module}}" map-num="{{$index + 1}}"  ng-switch-when="Map"></div> 
      </div>
      <div class="module-no-data" ng-show="displayData()"></div>
    </div>
  </div>
