<div id="enrollment">
	<div class="header">
		<h1>Enrollment / Program Management</h1>
	</div>    
	<div class="global-filter">
		<div class="calendar">
			<span class="fa fa-file show-hide-btn export-data" title="Export data as CSV" trigger trigger-target="export-data-modal" id="export-data-btn"></span>
			<span class="show-hide-btn trigger fa fa-cog hide-large" trigger trigger-target="main-utils" trigger-closed-class="fa-cog" trigger-open-class="fa-cog" title="Settings"></span>
			<span>
				<div date-range-input id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
					<span></span> <b class="caret"></b>
				</div>
			</span>
		</div>
		<div class="main-utils drawer closed" id="main-utils">
			<div class="main-utils-options-wrap">
				<select class="main-utils-options" ng-model="params.viewtype" ng-options="view for view in enrollment.ViewTypes">
				</select>
				<select class="main-utils-options" ng-model="params.product" ng-options="product for product in enrollment.Products">
				</select>
			</div>
			<label ng-show="enrollment.CommunicationTypes.length > 1"  class="main-utils-gateways" ng-repeat= "commType in enrollment.CommunicationTypes">
				<input type="checkbox" name="selectedComms[]" value="{{commType}}" ng-checked="isSelected(commType)" ng-click="updateSelection($event, commType)">{{commType | capitalize }}
			</label>
		</div>
  </div>
  <div class="dash-content">
		<ul class="modules">
			<li ng-repeat="module in enrollment.ModuleTypes"  ui-view="{{ module }}" class="module" id="{{ module }}">
			</li>
		</ul>
	</div>
</div>
