<div id="enrollment">
	<div class="header">
		<h1>Enrollment / Program Management</h1>
	</div>  

	<div class="panel panel-default filters">
	  <div class="panel-body">
		  <div class="row">
    		<div class="col-md-6">
    			<span class="fa fa-file show-hide-btn export-data" title="Export data as CSV" trigger trigger-target="export-data-modal" id="export-data-btn"></span>
    			<span class="show-hide-btn trigger fa fa-cog hide-large" trigger trigger-target="main-utils" trigger-closed-class="fa-cog" trigger-open-class="fa-cog" title="Settings"></span>
    			<span>
    				<div date-range-input id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">    				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>

    					<span></span> <b class="caret"></b>
    				</div>
    			</span>
    			<span></span>
				</div>

				<div class="col-md-6">

	    		<div class="btn-group" dropdown is-open="status.isopen">
	    			<button type="button" class="btn btn-primary dropdown-toggle" ng-click="submit()" dropdown-toggle>
	    			{{ params.viewtype }}<span class="caret"></span>
	    			</button>
	    			<ul class="dropdown-menu" ng-model="params.viewtype" role="menu">
	    				<li ng-repeat="view in enrollment.ViewTypes"><a ng-click="setView(view)">{{ view }}</a></li>
	    			</ul>
	    		</div>

	    		<div class="btn-group" dropdown>
	    			<button type="button" class="btn btn-primary dropdown-toggle" ng-click="submit()" dropdown-toggle ng-disabled="disabled">
	    			{{ params.product }}<span class="caret"></span>
	    			</button>
	    			<ul class="dropdown-menu" ng-model="params.product" role="menu">
	    				<li ng-repeat="product in enrollment.Products"><a ng-click="setProduct(product)">{{ product }}</a></li>
	    			</ul>
	    		</div>

	  			<label ng-show="enrollment.CommunicationTypes.length > 1"  class="main-utils-gateways" ng-repeat= "commType in enrollment.CommunicationTypes">
	  				<input type="checkbox" name="selectedComms[]" value="{{commType}}" ng-checked="isSelected(commType)" ng-click="updateSelection($event, commType)"><em>{{commType | capitalize }}</em>
	  			</label>

	  		</div>
			</div>
		</div>
	</div>
	
  <div class="dash-content">
		<ul class="modules">
			<div ng-repeat="module in enrollment.ModuleTypes"  ui-view="{{ module }}" id="{{ module }}">
			</div>
		</ul>
	</div>
</div>


