  <span class="module" module id="current-campaign">
      <header class="module-header">
         <h2 class="module-title">Current Campaign</h2>
         <span class="module-expand-button trigger fa fa-expand"></span>
    </header>
     <div class="module-body">
        <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>-->    
        <div class="module-grapharea">
          <div class="graph-wrap">
             <img src="assets/img/tmp_images/campaigns_current.png">
            </div>
      </div>
      </div>
  </span>
  <span class="module" module id="other-campaigns">
      <header class="module-header">
          <h2 class="module-title">Other Campaigns</h2>
          <span class="module-expand-button trigger fa fa-expand"></span>
      </header>
      <div class="module-body">
      <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>
       -->    <div class="module-grapharea">
              <div class="graph-wrap">
                <img src="assets/img/tmp_images/campaigns_other.png">
              </div>
          </div>
      </div>
  </span>
