#enrollment {

	.filters{
		&.panel.panel-default{
			.panel-body{
				padding: 10px;
			}
		}
		span {
			display: inline-block;
		}
		.fa{
			font-size: 1.25rem;
		}
		.btn.btn-default{
			padding: .35rem .75rem;
			background-color: black(0.2);
			color: $text-color;
			border-color: black(0.1);
			&:hover, &:focus{
				color: $white;
				background-color: black(0.1);
				@include box-shadow(inset 0 1px 1px black(0.05));
				@include transition(.3s);
			}
		}
		.filter-group:first-of-type{
			float: left;
			display: inline-block;
			#reportrange{
				margin-left: .75rem;
				cursor: pointer;
				padding: 6.5px 10px;
				border: 1px solid #e3e3e3;
				background-color: #f5f5f5;
				@include box-shadow(inset 0 1px 1px black(0.05));
				@include radius(2px);
				.fa.fa-calendar{
					font-size: 1.25rem;
					margin-left: 0.25rem;
				}
			}
		}

		.filter-group:last-of-type{
			text-align: right;
			input[type="checkbox"]{
				display: none;
			}
			input[type="checkbox"]:not(:checked) ~ em{
				font-weight: normal;
			}
			label{
				padding-left: .5rem;
				em{
					font-style: normal;
				}
			}
			.btn-group{
				margin-left: .5rem;
			}
			.btn.btn-primary {
				width: 8rem;
				text-align: left;
				span{
					text-align: right;
					display: inline-block;
					position: absolute;
					top: 0;
					bottom: 0;
					right: .5rem;
					margin: auto;
					font-size: 1rem;
				}
			}
			.btn-filter{
				display: inline-block;
				@include break-min($main-break-lg){
					display:none;
				}
			}
			.filter-options.well{
				padding: .45rem;
				margin-top: 1rem;
				margin-bottom: 0rem;
			}
			@include break-min($main-break-lg){
				.filter-options.well{
					display: inline-block !important;
					float: right;
					padding: 0rem;
					margin: 0rem;
					background-color: $white;
					border: none;
					@include box-shadow(none);
				}
			}
		}
	}

	.dash-content{
		@include clearfix;
		padding-left: 0px;
		& .panel{
			margin-bottom: gutter(10);
			@include span(8 of 8);
			height: 24rem;
			> .panel-heading{
				.panel-heading-stat{
					display:none;
				}
				.btn-group{
					float: right;
				}
			}
			> .panel-body{
				height: 21rem;
				h2{
					margin: 0px;
					font-size: 2.5rem;
					display: inline-block;
				}
				.panel-view-options{
					display: inline-block;
					float: right;
				}
				.panel-grapharea{
					height: 15.5rem;
				}
			}
			@include break-min($main-break){
				@include gallery(4 of 8);
			}
		}
		#signups{
			color: $blue; 
			.btn-switch{
				background-color: $blue;
			}

		}
		#distributed{
			color: $yellow;
			.btn-switch{
				background-color: $yellow;
			}
			.btn.dropdown-toggle{
				text-align: left;
				background-color: $dark-yellow;
				color: $white;
				border-color: $yellow;
				padding: .1rem .5rem;
				width: 7.5rem;
				text-align: left;
				&:hover, &:active, &:focus{
					background-color: $dark-yellow-2;
					border-color: $dark-yellow;
					color: $white;
				}
			}
			ul.dropdown-menu{
				right: 0;
				left: inherit;
			}
			.panel-view-options-checkbox{
				margin-right: 1.25rem;
				%extend .label-legend;
				#delivered{
					color: $yellow;
					span{
						background: $yellow;
					}
					input:not(:checked) ~ span {
						border: 2px solid $yellow;
						background-color: $white;
					}
				}
				#shipped{
					color: $dark-yellow;
					span{
						background: $dark-yellow;
					}
					input:not(:checked) ~ span {
						border: 2px solid $dark-yellow;
						background-color: $white;
					}
				}
			}
		}
		#setups{
			color: $orange;
			.btn-switch{
				background-color: $orange;
			}
			.panel-view-options-checkbox{
				margin-right: 1.25rem;
				label{
					position: relative;
					display: block;
					text-align: right;
					margin-bottom: 0rem;
					input[type="checkbox"]{
						visibility: hidden;
					}
					span{
						width: .75rem;
						height: .75rem;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						right: -1rem;
						@include radius(2px);
					}
				}
				#modlets{
					color: $orange;
					span{
						background: $orange;
					}
					input:not(:checked) ~ span {
						border: 2px solid $orange;
						background-color: $white;
					}
				}
				#thermostats{
					color: $dark-orange;
					span{
						background: $dark-orange;
					}
					input:not(:checked) ~ span {
						border: 2px solid $dark-orange;
						background-color: $white;
					}
				}
			}
		}
		#online{
			color: $red;
			.btn-switch{
				background-color: $red;
			}
			.btn.dropdown-toggle{
				text-align: left;
				background-color: $dark-red;
				color: $white;
				border-color: $red;
				padding: .1rem .5rem;
				width: 10rem;
				&:hover, &:active, &:focus{
					background-color: $dark-red-2;
					border-color: $dark-red;
					color: $white;
				}
			}
		}
	}
}