#enrollment {

	.filters{
		&.panel.panel-default{
			.panel-body{
				padding: 10px;
			}
		}
		span {
			display: inline-block;
		}
		div[class^="col"]:last-of-type{
			text-align: right;
			input[type="checkbox"]{
				display: none;
			}
			input[type="checkbox"]:not(:checked) ~ em{
				font-weight: normal;
			}
			label{
				padding-left: .5rem;
				em{
					font-style: normal;
				}
			}
			.btn-group{
				margin-left: .5rem;
			}
		}
	}

	.dash-content{
		@include clearfix;
		padding-left: 0px;
		& .panel{
			margin-bottom: gutter(10);
			@include gallery(4 of 8);
			height: 24rem;
			> .panel-heading{
				.panel-heading-stat{
					display:none;
				}
				.btn-group{
					float: right;
				}
			}
			> .panel-body{
				height: 21rem;
				h2{
					margin: 0px;
					font-size: 2.5rem;
					display: inline-block;
				}
				.panel-view-options{
					display: inline-block;
					float: right;
				}
				.panel-grapharea{
					height: 15.5rem;
				}
			}
		}
		#signups{
			color: $blue; 
			.btn-switch{
				background-color: $blue;
			}

		}
		#distributed{
			color: $yellow;
			.btn-switch{
				background-color: $yellow;
			}
			.btn.dropdown-toggle{
				background-color: $dark-yellow;
				color: $white;
				border-color: $yellow;
				padding: .1rem .5rem;
				&:hover, &:active, &:focus{
					background-color: $dark-yellow-2;
					border-color: $dark-yellow;
					color: $white;
				}
			}
		}
		#setups{
			color: $orange;
			.btn-switch{
				background-color: $orange;
			}
		}
		#online{
			color: $red;
			.btn-switch{
				background-color: $red;
			}
			.btn.dropdown-toggle{
				background-color: $dark-red;
				color: $white;
				border-color: $red;
				padding: .1rem .5rem;
				width: 10rem;
				&:hover, &:active, &:focus{
					background-color: $dark-red-2;
					border-color: $dark-red;
					color: $white;
				}
			}
		}
	}
}