@import "enrollment";
@import "elements";

main {
	@include clearfix;
	@include container;
	padding: gutter(10);
	@include calc(width, "100% - 8.1rem");
	position: absolute;
	@include transition(width, 1s);
	right: 0;
	&.collapse {
	  @include calc(width, "100% - 8.1rem + 4rem");
	}

	.page-header > h1{
		font-size: 1.5rem;
		margin-top: 0rem;
	}
}

