@import "enrollment";
@import "sidebar";
@import "elements";

main {
	@include clearfix;
	@include container;
	padding: gutter(10);
	position: absolute;
	width: 100%;
	right: 0;
	top: 4rem;
	.page-header > h1{
		font-size: 1.5rem;
		margin-top: 0rem;
	}
	@include break-min($main-break){
		@include transition(width, 1s);
		@include calc(width, "100% - 8.1rem");
		&.collapse {
		  @include calc(width, "100% - 8.1rem + 4rem");
		}
	}
}



