aside {
  display: block;
  width: 100%;
  height: inherit;
  position: fixed;
  z-index: 998;
  background-color: $black;
  top: 4rem;
  @include transition(top 1s);
  ul {
    margin: auto;
    padding-left: 0px;
    li {
      list-style: none;
      @each $color in $colors {
        $j: index($colors, $color);
        &:nth-child(#{$j + 1}) {
          >a {
            >.fa {
              color: #{$color};
            }
          }
        }
      }
      a {
        padding: 0.9em;
        background-color: $black;
        display: block;
        font-weight: 400;
        text-align: center;
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .fa {
          display: inline-block;
          margin-left: -0.5rem; 
          padding-bottom: 0.25em;
          font-size: 1.5rem;
        }
        em {
          font-style: normal;
          margin-left: .5rem;
        }
      }
      &:nth-last-of-type(2) {
        a {
          border-top: 1px solid rgba(255, 255, 255, 0.4);
          color: $dark-grey;
          border-bottom: 0px solid $white;
          font-weight: 700;
        }
      }
      &:nth-last-of-type(1) {
        a {
          color: $dark-grey;
          border-bottom: 0px solid $white;
          font-weight: 700;
        }
      }
    }
    .active {
      color: $white;
      background-color: $dark-grey-3;
      @include transition(0.5s linear all);
    }
  }
  @include break-min($main-break){
  	width: 8.1rem;
  	height: 100%;
  	left: 0rem;
  	top: 4rem;
  	padding-top: 0.75rem;
	  @include transition(left 1s);
	  ul{
	  	li{
	  		a{
	  			.fa{
	  				display: block;
	  				margin-left: 0rem;
	  			}
	  			em{
		  			margin-left: 0rem;
	  			}
	  		}
	  	}
	  }
  }
}

aside.collapse {
	top: -50rem;
	left: 0rem;
	@include break-min($main-break){
		top: 4rem;
	  left: -4rem;
	  em {
	    @include transition(0.5s);
	    @include opacity(0);
	  }
	  .fa {
	    margin: 0.5rem 0rem -1rem 4.45rem;
	    padding-right: 0.75rem;
	    @include transition(1s);
	  }
	}
}

.fa.fa-tachometer {
  color: #4fb395;
}
