<header class="global">
	<div class="wrap global-wrap">	
		<button class="nav-button" ng-click="changeToggle()">
		    <i class="fa fa-bars"></i>
		</button>    
    	<div class="global-select">
	        <a href="/">
	            <span class="global-logo"><img ng-src="{{ logo }}"></span>
	        </a>
 		</div>
        <div class="global-goodies">
	       <span class="global-goodies-user">
	            Welcome, <span class="global-user trigger trigger-hover" trigger>UserName</span>
	        </span>
	        <span class="global-goodies-location">
	            New York, NY
	        </span>
	        <span class="global-goodies-location extra">
	            Current temp: 84 F  &nbsp; &nbsp; February 03, 2014
	        </span>
        </div> 
	</div>
</header>
  
