<ul>
	<li>
		<a icon ng-href="#/"  ng-class="{active:isActive('/')}" activeLink class="dashboard"><em>Dashboard</em></a>
	</li>
	<li ng-repeat="category in program.Categories" >
		<a ui-sref=".{{ category | urlify | lowercase }}" icon  ng-class="{active:isActive('/{{  category | urlify| lowercase }}')}"  activeLink class="{{ category | urlify | lowercase }}" ><em>{{ category |capitalize }}</em></a>
	</li>
	<li class=" global-general">
		<a ng-class="{active:isActive('/reports')}" activeLink ui-sref=".reports">Reports</a>
	</li>
	<li class=" global-general">
		<a ng-class="{active:isActive('/settings')}"  activeLink ui-sref=".settings"><em>Settings</em></a>
	</li>
	<li class=" global-general">
		<a ng-class="{active:isActive('/help')}"  activeLink ui-sref=".help"><em>Help</em></a>
	</li>
</ul>

