<div class="view-events">
  	<span class="module" module id="scheduled">
        <header class="module-header">
        	<span><h2 class="module-title">Scheduled Event</h2></span>
           <span class="date"><i class="fa fa-calendar "></i> September 03, 2015</span>
           <span class="module-expand-button trigger fa fa-expand"></span>
    	</header>
       <div class="module-body">
       		<div class="module-controls">
       			<img src="assets/img/tmp_images/drevents_scheduled_header.jpg">
       		</div>
          <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>-->    
	       	<div class="module-grapharea">
		        <div class="graph-wrap">
		            <img src="assets/img/tmp_images/drevents_scheduled.png">
		        </div>
	    	</div>
       	</div>
    </span>
    <div class="past-events">
		    <span class="module" module id="past">
		        <header class="module-header">
		            <h2 class="module-title">Past Events</h2>
		            <span class="module-expand-button trigger fa fa-expand"></span>
		        </header>
		        <div class="module-body">
		        <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>
		         -->    <div class="module-grapharea">
		                <div class="graph-wrap">
		                	<img src="assets/img/tmp_images/drevents_past.png">
		                </div>
		            </div>
		        </div>
		    </span>
		    <span class="module" module id="callable">
		        <header class="module-header">
		            <h2 class="module-title">Callable Load</h2>
		            <span class="module-expand-button trigger fa fa-expand"></span>
		        </header>
		        <div class="module-body">
		        <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>
		         -->    <div class="module-grapharea">
		                <div class="graph-wrap">
		                	<img src="assets/img/tmp_images/drevents_callable.png">
		                </div>
		            </div>
		        </div>
		    </span>
   </div>
</div>
<div class="create-events">
      <span class="module" module id="create">
        <header class="module-header">
            <h2 class="module-title">Create an Event</h2>
            <span class="module-expand-button trigger fa fa-expand"></span>
        </header>
        <div class="module-body">
        <!--     <div class="module-loading"><span class="fa fa-circle-o-notch fa-spin loading-icon"></span></div>
         -->    <div class="module-grapharea">
                <div class="graph-wrap">
                	<img src="assets/img/tmp_images/drevents_create.png">
                		<!-- <form class="create-event-form" name="createEvent"  id="createEvent" >
                		    <div class=" col">
                		    	<div class="form-group">
	                		        <label for="dateTime">Date &  Time</label>
	                		        <input type="text" placeholder="" name="date" id="date" >
	                		    </div>
		                		  	 <div class="btn" dropdown is-open="status.isopen">
	                		         <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	                		           Start Time <span class="caret"></span>
	                		        </button>
	                		         <ul class="dropdown-menu" role="menu">
	                		           <li><a href="#">Action</a></li>
	                		           <li><a href="#">Another action</a></li>
	                		           <li><a href="#">Something else here</a></li>
	                		           <li class="divider"></li>
	                		           <li><a href="#">Separated link</a></li>
	                		         </ul>
	                				</div>
	                		    <div class="form-group">	
	              		        	<select type="text" placeholder="End Time" name="endTime" id="endTime"></select>
	              		        </div>
                		    </div>
       		      		    <div class=" col">
       		      		        <label for="dateTime">Date &  Time</label>
       		      		        <input type="text" placeholder="" name="date" id="date" >
       		      		        <select type="text" placeholder="Start Time" name="startTime" id="startTime" ></select>
       		    		        	<select type="text" placeholder="End Time" name="endTime" id="endTime" ></select>
       		      		    </div>
      		      		    <div class=" col">
      		      		        <label for="dateTime">Date &  Time</label>
      		      		        <input type="text" placeholder="" name="date"  id="date" >
      		      		        <select type="text" placeholder="Start Time" name="startTime" id="startTime" ></select>
      		    		        	<select type="text" placeholder="End Time" name="endTime" id="endTime" ></select>
      		      		    </div>
      		      		    <div class=" col">
      		      		        <label for="dateTime">Date &  Time</label>
      		      		        <input type="text" placeholder="" name="date"  id="date" >
      		      		        <select type="text" placeholder="Start Time" name="startTime" id="startTime" ></select>
      		    		        	<select type="text" placeholder="End Time" name="endTime" id="endTime" ></select>
      		      		    </div>
      		      		    <div class=" col">
      		      		        <input type="submit" class="btn btn-primary" value="Create Event">
      		      		    </div>
                		</form> -->
                </div>
            </div>
        </div>
      </span>
</div>
