$global-time-break: 30rem;
$global-util-break: 23rem;
$global-util-menu-break: 40rem;
$global-user-break: 56rem;
$global-goodies-break: 68rem;

$main-utils-break: 34rem;
$main-utils-gateways-break: 42rem;
$main-header-break: 54rem;
$main-header-break-lg: 74rem;
$main-header-dropdowns-break: 64rem;

$module-checkbox-break: 30rem;
$module-view-options-label-break: 30rem;
$module-break: 60rem;
$module-break2: 65rem;
$module-stat-break: 70rem;
$module-padding-break: 78rem;

$graph-height-break-sm: 40rem;
$graph-height-break-med: 84rem;

$module-dropdown-break: 30rem;
$module-yo-dawg-break: 40rem;

$main-break: 53rem;
$main-break-lg: 57.5rem;
$main-break-xl: 124rem;

$settings-break: 48rem;
$settings-break-lg: 96rem;
$settings-input-break: 32rem;
$settings-input-break-2: 56rem;

$error-titles-break: 27rem;
$error-options-break: 44rem;

$export-btn-break: 35rem;
$cal-break: 37rem;

$graph-break: 1170px;
