$white: white;
$black: black;

$blue: #00aced;
$light-blue: #4dc5f2;
$light-blue-2: #5fcff9;
$dark-blue: #239acc;
$dark-blue-2: #1383b2;

$yellow: #e9d000;
$dark-yellow: #d9c200;
$dark-yellow-2: #bfab00;

$orange: #fb6d17;
$dark-orange: #e35601;
$dark-orange-2: #c84b00;

$red: #e54b28;
$dark-red: #d12f0b;
$dark-red-2: #bf2604;

$dark-grey: #464646;
$dark-grey-2: #515151;
$dark-grey-3: #363636;
$dark-grey-4: #262626;
$med-grey: #b5b5b5;
$med-grey-2: #c4c4c4;
$med-grey-3: #676767;
$med-grey-4: #9e9d9d;
$med-grey-5: #6e6e6e;
$light-grey: #eaeaea;
$light-grey-2: #d0d4d9;

$green: #08a601;

////////////////////

$body-bg-color: $white;

$text-color: $dark-grey;
$text-alt-color: $black;

$global-header-bg-color: $dark-grey-2;
$global-header-text-color: $text-alt-color;
$global-header-text-alt-color: $med-grey-5;
$global-header-link-color: $light-blue;

$main-bg-color: $light-grey;
$main-bg-lg: $white;

$dash-bg-color: $white;
$module-bg-color: $white;

$graph-bg-color: #f0f0f0;

$checkbox-bg-color: $light-grey;

$colors: $blue, $yellow, $orange, $red;
$colors-dark: $dark-blue, $dark-yellow, $dark-orange, $dark-red;
$colors-darker: $dark-blue-2, $dark-yellow-2, $dark-orange-2, $dark-red-2;
