.drawer {
  background-color: black(0.3);
  position: relative;
  @include before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 12px 12px 8px;
    border-style: solid;
    border-color: transparent transparent black(0.3);
    position: absolute;
    top: -20px;
    left: 4.5rem;
  }
}

@each $num in 2, 3, 4, 5, 6 {
  $i: index((2, 3, 4, 5, 6), $num) + 1;
  .list-#{$num} {
    > li {
      display: inline-block;
      width: 1 / $i * 100%;
    }
  }
}

%select {
  background-image: url("/assets/img/dropdown-arrow.svg");
  background-size: 11px 10px;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  border: 0;
  &:focus {
    border: 0;
  }
}

.wrap {
  overflow: hidden;
  margin: 0 auto;
  max-width: 110rem;
}

.show-hide-btn {
  width: 42px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  //background-color: black(.2)
  @include border-radius(2px);
  font-size: 1.8rem;
  //margin: 0 .5rem
  vertical-align: top;
  cursor: pointer;
  @include break-min($main-header-break) {
    @include transition-property(background-color);
    @include transition-duration(0.2s);
    &:hover {
      background-color: black(0.15);
    }
  }
}

.trigger {
  cursor: pointer;
}

.closed {
  display: none;
}

%message {
  color: $white;
  padding: 1rem;
  margin-bottom: 1rem;
  @include border-radius(2px);
  @include box-sizing(border-box);
  h1, h2 {
    margin: 0;
    text-align: left;
  }
  h1 {
    font-size: 1.8rem;
    > span {
      margin-right: 0.5rem;
    }
  }
  h2 {
    font-size: 1rem;
    font-weight: normal;
  }
  ul {
    list-style-type: disc;
    margin-bottom: 0.5rem;
  }
}

.error-message {
  @extend %message;
  background-color: $dark-red-2;
}

.success-message {
  @extend %message;
  background-color: $light-blue;
}

#loading {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $dark-grey-2;
  background-color: white(0.8);
  text-align: center;
  padding-top: 12rem;
  > .loading-icon {
    font-size: 4rem;
    display: block;
  }
  > .loading-title {
    font-size: 4rem;
    line-height: 1em;
    margin: 0.25em;
    &.nope {
      color: $dark-red;
    }
  }
  a {
    color: $dark-grey-2;
  }
}

.no-cssanimations {
  #loading > .loading-icon {
    display: none;
  }
}

.cssanimations {
  #loading > h2 {
    display: none;
  }
}
