.settings {
  margin: 0;
  padding: 0 0.5rem 1rem 0.5rem;
  list-style-type: none;
  @include break-min($settings-break) {
    @include column-count(2);
    -webkit-column-fill: balance;
  }

  @include break-min($main-break) {
    padding: 0 1.5rem 1rem 1.5rem;
  }

  @include break-min($settings-break-lg) {
    @include column-count(3);
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover, &:active, &:visited {
      color: $light-blue;
    }
  }
}

.setting {
  @include break-inside(avoid);
  overflow: hidden;
  h2 {
    margin: 0;
  }
  h3 {
    margin: 1.5rem 0 0.5rem 0;
  }
  .error-message, .success-message {
    max-width: 20rem;
    overflow: hidden;
    ul {
      margin-top: 0.75rem;
    }
    .close {
      float: right;
      clear: left;
      margin-top: 0.5rem;
      cursor: pointer;
    }
  }
}

.setting-wrap {
  background-color: $white;
  @include border-radius(2px);
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.settings-special {
  font-size: 1.1rem;
  color: $blue;
  margin: 0.5em 0;
}

.settings-form {
  margin: 0.5rem 0;
  overflow: hidden;
  max-width: 20rem;
  input {
    @include reset-input-appearance;
    font-family: "PT Sans", sans-serif;
    @include transition-property(background-color);
    @include transition-duration(0.2s);
    &[type="text"], &[type="email"], &[type="password"] {
      border: 0;
      background-color: #dddddd;
      @include placeholder-text($white, 1rem);
      height: 2rem;
      width: 100%;
      margin: 0.25rem 0;
      @include box-sizing(border-box);
      padding: 0 0.5rem;
      line-height: 1.5rem;
      font-size: 1rem;
      @include border-radius(2px);
      &:focus {
        background-color: $med-grey-2;
        outline: none;
      }
    }
    &[type="submit"] {
      border: 0;
      background-color: $blue;
      color: $white;
      font-size: 1rem;
      @include border-radius(2px);
      float: right;
      padding: 0.5rem 1rem;
      cursor: pointer;
      margin: 1rem 0;
      &:focus {
        outline: 0;
      }
      &:hover {
        background-color: $light-blue;
      }
    }
    &[type="checkbox"] {
      @include reset-input-appearance;
      background-color: $checkbox-bg-color;
      @include border-radius(2px);
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
      vertical-align: baseline;
      font-size: 1rem;
      &:focus {
        outline: none;
        border: none;
        background-color: $light-grey-2;
      }
      &:checked {
        position: relative;
        @include after {
          content: "\000D7";
          font-size: 2em;
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          position: absolute;
          color: $dark-grey-2;
        }
      }
    }
  }
  label {
    padding-left: 0.75em;
    vertical-align: super;
  }
}

.placeholder {
  .settings-form {
    label {
      position: absolute;
      top: -12rem;
      left: -100rem;
    }
  }
}

.no-placeholder {
  .settings-form {
    label {
      display: block;
      padding: 0.8rem 0 0.2rem 0;
    }
  }
}

.settings-helptext {
  margin: 0.5em 0;
  font-size: 0.9rem;
  font-style: italic;
}

.password-reqs {
  list-style-type: none;
  padding-left: 0;
  > li {
    padding: 0.1em 0;
    > span {
      display: inline-block;
      overflow: hidden;
      width: 1.5rem;
      font-size: 0.9em;
      vertical-align: middle;
      line-height: 1.1em;
      text-align: center;
    }
  }
}

.password-req-yes {
  color: $green;
}

.password-req-no {
  color: $red;
}
