#dashboard {
  .module {
    > .module-header {
      color: $dark-grey-3;
    }
    .module-body {
      padding: 0rem;
      .module-grapharea {
        height: 100%;
        background-color: $white;
        padding: 0rem;
        img {
          width: 100%;
        }
      }
    }
    .module-footer {
      display: none;
      @include break-min($module-break) {
        display: block;
        padding: 0.5rem 1rem;
        background-color: $white;
        border-top: 1px solid $light-grey;
        text-align: right;
        color: #00abed;
        a {
          text-decoration: none;
          &:hover, &:active, &:visited {
            color: #00abed;
          }
        }
      }
    }
  }
  #enrollment {
    .module-expand-button {
      background-color: $blue;
      color: $white;
    }
  }
  #analytics {
    .module-expand-button {
      background-color: $orange;
      color: $white;
    }
  }
  #drevents {
    .module-expand-button {
      background-color: $yellow;
      color: $white;
    }
  }
  #campaigns {
    .module-expand-button {
      background-color: $red;
      color: $white;
    }
  }
}
